.selected_contentsection
{
    background-color: #bdffb2
}

.breadcrumb
{
    float: right;
    margin-right: 5px;
    font-size: 12px;
    color: #91855c;
}

.breadcrumb_link
{
    text-decoration:none;
    color: #91855c;

}
.breadcrumb_link:hover
{
    text-decoration: underline;
    opacity: 0.7;
}




































